.next
node_modules
package-lock.json
supabase/.temp
playwright-report
test-results
public
playwright-report
test-results
.github

# Modèles Go (Supabase) : syntaxe {{ }} dans les attributs
supabase/templates/
